/* Setting up the default settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

/* Code for animated gradient background. */
body {
    background: linear-gradient(-45deg, #003865, #ef5b0c, #d4f6cc, #3ccf4e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Set font imported from fonts.google.com via api  */
.title {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    height: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.top_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.button_container div {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px black;
}

/* Code to make text-selection box not appear when user clicks emoji. */
.button_container div::selection {
    background-color: transparent;
} 